* {
    padding: 0;
    margin: 0;
}


html {
    width: 100%;
    height: 100%;
}

body {
    background-color: lightslategrey;
}

canvas {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}